{% extends 'base/main.html' %}

{% block content %}

    <section id="tool">
        <h3>Create A Goal</h3>
        <div class="form-content">
        <form method="post" enctype="multipart/form-data"> 
            {% csrf_token %}

            {{form.as_p}}
            
        <button id="donate" type="submit">Create</button>
        </form>
        
        <p>Notes</p>
        <ul>
            <li> <p>A 5% hike in price will be added to your item price</p></li>  
            <li><p>Choose amazon.com or other verified Store Prices</p></li>  
            <li><p>Reports on Unreasonable or Wrong pricing will be taken seriously</p></li>
        </ul>
        </div>
        
        
       
        
        
        
    </section>

    
{% endblock %}