{% extends 'base/main.html' %}

{% block content %}

<div class="navbar">

    <div class="logo">
        <a href="#">getmestuff</a>
    </div>

    <div class="mobile-navbar">
        <a href="" class="toggle-button"><i class="fa-solid fa-bars"></i></a>
    </div>

    <div class="mobile-drawer">
        <nav>
          <ul>
            <li><a href="" id="drawer-close"><i class="fa-solid fa-x" style="color: #000000;"></i></a></li>
            <li><a href="">About Us</a></li>
            <li><a href="#pricing">Pricing</a></li>
            <li><a href="#how-it-works">How it Works</a></li>
            <li><a href="{% url 'login' %}">Sign Up</a></li>
          </ul>
        </nav>        
</div>

    <div class="navbar-links">
        <a href="">About Us</a>
        <a href="#pricing">Pricing</a>
        <a href="#how-it-works">How it Works</a>
        <a href="{% url 'login' %}"><button>Sign Up</button></a>
    </div>

</div>

<div class="main-content">
    <div class="main-img">
        <img src="https://i.ibb.co/wR4JVrz/Untitled-design-29.png">
    </div>
    <div class="main-text">
        <p>Let Your Fans</p>
        <p>Fund Your Creativity</p>
    </div>

    
    <a href="{% url 'signup' %}">
        <div class="join-waitlist-button">
            <p>Sign Up Now</p>
            <p><i class="fa-solid fa-arrow-right-long"></i></p>
        </div>
    </a>
    
    
</div>

<section id="pricing">
    <h1>Pricing</h1>
    <div class="price-flex">
        <div>
            <p id="dollar">$</p>
        </div>
        
        <div class="price-features">
            <p>No Ultra plans</p>
            <p>No Subscription Fees</p>
            <p>No Bank Account</p>
            <p>No Hidden Fees</p>
        </div>
    </div>
    <div class="price-flex">
        <div class="price-features-2">
            <p>The Cheapest </p>
            <p>Way to</p>
            <p>Let Your Followers</p>
            <p>Donate</p>
        </div>
        <div class="price-percent">
            <p>Keep</p>
            <h1 id="dollar">92%</h1>
            <p>Of Your Earnings</p>
        </div>
    </div>
</section>

<section id="how-it-works">
    <h1>How it Works</h1>
    <div class="step">
        <h1>Step1:</h1>
        <p>Create a tip page</p>
    </div>

    <div class="tip-box">
        <div class="tip-banner">
            <div class="tip-banner-name">
                <img src="https://www.freepnglogos.com/uploads/twitch-twitch-tv-icon-logo-png-9.png">
                <p>getmestuff</p>
            </div>
        </div>

        <div class="tip-content">
            <div class="equipment-flex">
                <img src="https://encrypted-tbn1.gstatic.com/shopping?q=tbn:ANd9GcSq1YkfVzbBx6xN_TVCMfIAXYTpiq8JOfsEaljb-WOluP0IKGfDxm03jeKxRkYtChiBNNt5FGJiffLwTdEdI9oxoPQbwACxQ4MkDO0Po3GITY1QxEmrcbV6">
                <a href="">Sony ZV-1</a>
            </div>
            <div class="goal-amount">
                <p id="current-amount">$200</p>
                <p>/</p>
                <p>$600</p>
            </div>

            <div class="goal-bar">
                <div class="goal-progress" style="height: 100%;  width: 33.3%;"></div>
            </div>

            <div class="tip-amount-flex">
                <label class="tip-amount">
                    <input type="radio" name="tip" value="$5">
                    <span class="tip-label">$5.00</span>
                </label>
            
                <label class="tip-amount">
                    <input type="radio" name="tip" value="$10">
                    <span class="tip-label">$10.00</span>
                </label>
            
                <label class="tip-amount">
                    <input type="radio" name="tip" value="$40">
                    <span class="tip-label">$40.00</span>
                </label>
            </div>

            <div class="custom-tip">
                <p>Custom Tip</p>
                <input type="text" placeholder="$500" value="$">
            </div>

            <button id="donate">Donate</button>
        </div>

    </div>

    <div class="step">
        <h1>Step2:</h1>
        <p>Share it With your Followers</p>
        <p>and Reach the Goal</p>
    </div>

    <div class="step">
        <h1>Step3:</h1>
        <p>Get the Equipment in the Mail</p>
    </div>

    <h3>It's that Simple</h3>

    <a href="{% url 'signup' %}">
        <div class="join-waitlist-button">
            <p>Sign Up Now</p>
            <p><i class="fa-solid fa-arrow-right-long"></i></p>
        </div>
    </a>
</section>


<section id="footer">
    <div class="footer-logo">
        <a href="#">getmestuff</a>
    </div>
    <p> a n&w project</p>

    <h1>rahulthesun82@gmail.com</h1>
</section>



{% endblock %}